<div class="bg">
    <div class="form">
        <div>
            <p class="logo"><img src="assets/itmalogo.png" height="60px" width="262px" padding-top="30px"> </p>
        </div>
        <p class="blue">
            <b>Pageidaujamų atnaujinimų registracija</b>
        </p>
        <br />
        <p class="paprastas">Norėdami įregistruoti naujus atnaujinimų pageidavimus, prašome užpildyti toliau esančią
            formą.
        </p>
        <div class="video">
            <youtube-player class="video" videoId="3dHNOWTI7H8" suggestedQuality="highres" [startSeconds]="0"
                [endSeconds]="8">
            </youtube-player>
        </div>
        <button mat-raised-button class="mygtukas" [routerLink]="'/forma'"><b>Pradėti</b></button>
    </div>
</div>