<div class="bg">
    <div class="form">
        <div>
            <p class="logo"><img src="assets/itmalogo.png" height="60px" width="262px" padding-top="30px"> </p>
        </div>
        <p class="blue">
            <b>Pageidavimai užregistruoti!</b>
        </p>
        <p class="paprastas">
            Pageidavimai užregistruoti sėkmingai!
        </p>
        <br />
        <button mat-raised-button color="#1C4872" class="mygtukas" [routerLink]="''"><b>Pradėti iš naujo</b></button>
    </div>
</div>